<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:\temp\Logs\internal-nlog4txt"
      internalLogLevel="Trace">

	<targets>
		<target name="allLog" xsi:type="File" fileName="log\Deepo.Fetcher.Host_${shortdate}_all.log" />
		<target name="ownLog" xsi:type="File" fileName="log\Deepo.Fetcher.Host_${shortdate}_own.log" />
		<target name="console" xsi:type="ColoredConsole"
		layout="${time} ${message}"
		useDefaultRowHighlightingRules="true">
			<highlight-word foregroundColor="DarkGreen" regex="^info" ignoreCase="true" />
			<highlight-word foregroundColor="Yellow" regex="^warn" ignoreCase="true" />
			<highlight-word foregroundColor="Red" regex="^error" ignoreCase="true" />
			<highlight-word foregroundColor="DarkRed" regex="^fatal" ignoreCase="true" />
			<highlight-word foregroundColor="Blue" regex="^debug" ignoreCase="true" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>

		<target name="DatabaseLogHandler" xsi:type="Database">
			<connectionString>
				Server=DESKTOP-PU50446\SQLEXPRESS;Database=DEEPO;Trusted_Connection=True;Integrated Security=True;TrustServerCertificate=True;
			</connectionString>
			<commandText>
				INSERT INTO [DEEPO].[fetcher].[HttpRequest]

				([ApplicationName]
				,[JobID]
				,[LevelLog]
				,[DateLogCreation]
				,[RequestUri]
				,[HttpMethod]
				,[HttpResponse]
				,[UserAgent]
				,[Date]
				,[Token])

				VALUES
				(@ApplicationName
				,@JobID
				,@LevelLog
				,@DateLogCreation
				,@RequestUri
				,@HttpMethod
				,@HttpResponse
				,@UserAgent
				,@Date
				,@Token)
			</commandText>
			<parameter name="@ApplicationName" layout="Deepo" />
			<parameter name="@JobID" layout="${event-properties:JobID}" />
			<parameter name="@LevelLog" layout="${event-properties:LevelLog}" />
			<parameter name="@DateLogCreation" layout="${event-properties:DateLogCreation}" />
			<parameter name="@RequestUri" layout="${event-properties:requestUri}" />
			<parameter name="@HttpMethod" layout="${event-properties:httpMethod}" />
			<parameter name="@HttpResponse" layout="${event-properties:httpResponse}" />
			<parameter name="@UserAgent" layout="${event-properties:userAgent}" />
			<parameter name="@Date" layout="${event-properties:date}" />
			<parameter name="@Token" layout="${event-properties:token}" />
		</target>
	</targets>

	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allLog" />

		<!--Skip certains logs and so log only own logs-->
		<logger name="Microsoft.*" final="true" />
		<logger name="System.*" final="true" />

		<!--Only log into databse log provide by this specific handler-->
		<logger name="Framework.Web.Http.Client.Handler.LoggingHandler" writeTo="DatabaseLogHandler" final="true" />

		<!-- Control console output - change minlevel to control verbosity -->
		<logger name="*" minlevel="Info" writeTo="console" />

		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Info" writeTo="ownLog" />
	</rules>
</nlog>