<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogFile="C:\temp\Logs\internal-nlog4txt"
	  internalLogLevel="Trace">

	<targets>
		<target name="allLog" xsi:type="File" fileName="log\Deepo.API_${shortdate}_all.log" />
	</targets>

	<targets>
		<target name="ownLog" xsi:type="File" fileName="log\Deepo.API_${shortdate}_own.log" />
	</targets>
	
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Info" writeTo="allLog" />

		<!--Skip certains logs and so log only own logs-->
		<logger name="Microsoft.*" final="true" />
		<logger name="System.*" final="true" />


		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Info" writeTo="ownLog" />
	</rules>
</nlog>